.card
{
    background: yellow;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.card img{
    width: 200px;
    transition: .5s;
}
.card:hover img{
    transform: scale(1,2) ;
    overflow: hidden;
}