.div1
{
    background-color: black;
    color: white;
    width: 400px;
    height: 400px;
    display: inline-block;
}
.div2
{
    background-color: red;
    width: 400px;
    height: 400px;
    display: inline-block;
    position: absolute;
    left: 200px;
    top: 200px;
}