@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
body {
    font-family: "Agbalumo", system-ui;
    font-weight: 400;
    font-style: normal;
  }
p
{
    line-height: 50px;
    letter-spacing: 4px;
}