*
{
    padding: 0;
    margin: 0;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(234, 234, 234);

}
.asidee
{
    background-color:rgb(61, 59, 59);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.asidee a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 8px;
}
.playback
{
    width: 300px;
    border-radius: 10px;
    margin: 10px;
}
main
{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
}
.div1
{
    border: 1px black solid;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}
@media (max-width:1300px)
{
    .asidee{ 
       display: flex;
       flex-direction: row;
       padding-right: 20px;
       margin-right: 10px;
       margin-top: 20px;
    }
    main{ 
        width: 100%;
    }
    body{
        margin:30px ;
    }
    h1, p, nav a{
        font-size: 1,9em;
    }
    .div-main
    {
        display: flex;
        flex-direction: row;
    }
}