*
{
    margin: 0;
    padding:0;
}
article
{
    display: grid;
    grid-template-columns: 200px 400px auto 100px;
    grid-template-rows: 200px;
    gap: 50px;
    margin: 40px;
}
section
{
    color: white;
    padding: 50px;
    border: 1px black solid;
    background-color: black;
}