.Side
{
    background-color: rgb(29, 27, 27);
    color: white;
    display: inline-block;
    width: 200px;
    height:900px ;
    padding-left: 20px;
    padding-top: 20px;
}
.main
{
    position: absolute;
    left: 250px;
    display: inline-block;
    padding-top: 20px;

}